@{
    ViewData["Title"] = "Movie Submitted";
}
<!--This Connects the database to this page and allows us to dynamically change the text-->
@model MovieCollection.Models.MovieDB

@*This allows us to dynamically change the text*@ 
<h2>@Model.Title is such a great movie!</h2>
<h3>Your movie has been submitted.</h3>