@*Index page*@

@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<h1>The Joel Hilton Film Collection</h1>

<img src="~/img/photo.jpg" />
<br />
<p>What up! My name is Joel Hilton and I'm obsessed with movies. Because my brother Spencer was disgusted when I told him I keep
    all my movies on a spreadsheet, I said he could force all his students to make a database where I can keep track of my movies.</p>
