@{
    ViewData["Title"] = "My Podcasts";
}

<h1>Baconsale</h1><br />
<p>I love movies so much that I even host a pocast called <a href="https://baconsale.com/">Basonsale</a> where my friends and I will talk about different movies.</p>
<br />
<br />
<p>Please come and <a href="https://baconsale.com/">check it out</a>!</p>